<img src="https://mail.google.com/mail/u/0?ui=2&ik=0e0cc0fd86&attid=0.1&permmsgid=msg-f:1689181574088128432&th=17712db124a877b0&view=att&disp=safe" alt="Nature" style="width:100%">

<ol class="post">
  {{#each posts as |post|}}
  <li>
    {{> post-info post }}
  </li>
  {{/each}}
</ol>
