body,h1,h2,h3,h4,h5 
{font-family: "Raleway", sans-serif}

.w3-content {
    max-width:1400px
}

img {
    width: 100%;
}

.post-img {
    width:50px
}
.btn-no-style{
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    text-decoration: none;
    color: #225ca3;
    font-size: 100%;
    font-weight: bold;
    transition: color .1s;
    margin-left: 16px;
  }